<style>
  /* colors: #294357, #b3cfe5, #dee4e7 */
  ddna-assistant, ddna-assistant * {
    box-sizing: border-box; background: initial; border: initial; margin: initial;
    padding: initial; position: relative; display: default; box-shadow: initial;
    overflow: initial; width: initial; height: initial; left: initial; right:
    initial; top: initial; bottom: initial; transition: initial; cursor: initial;
    white-space: initial; font: initial; color: initial;
  }
  ddna-assistant, ddna-assistant.loading {
    display: block;
    z-index: 999999999;
    position: fixed;
    padding: 20px 10px;
    margin: auto;
    left: 0px; right: auto;
    bottom: 0px; top: auto;
    border: 2px solid black;
    border-radius: 20px 20px 20px 0px;
    box-shadow: 5px 5px 7.5px 0px black;
    overflow: hidden;
    width: 45px; height: 45px;
    transition: width .2s ease-out, height .2s ease-out;
    background: #b3cfe5;
  }
  ddna-assistant.active {
    width: 95vw;
    height: 90vh;
  }
  ddna-assistant [role=loading],
  ddna-assistant [role=failed],
  ddna-assistant [role=close],
  ddna-assistant [role=open] {
    display: block;
    position: absolute;
    width: 100%; height: 100%;
    margin: auto; padding: 0px;
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;
    cursor: pointer;
    opacity: 1 !important;
  }
  ddna-assistant [role=close],
  ddna-assistant [role=open] {
    display: none;
    width: 20px; height: 20px;
    top: 10px; right: 10px;
    left: auto; bottom: auto;
  }
  ddna-assistant > [role=close] { display: none; }
  ddna-assistant > [role=open] { display: none; }
  ddna-assistant > [role=loading] { display: none; }
  ddna-assistant > [role=failed] { display: none; }
  ddna-assistant.active:not(.startup):not(.failed) > [role=close] { display: block; }
  ddna-assistant:not(.active):not(.startup):not(.failed) > [role=open] { display: block; }
  ddna-assistant.startup:not(.failed) > [role=loading] { display: block; }
  ddna-assistant.failed > [role=failed] { display: block; }
  ddna-assistant > .tab-container {
    display: none;
    position: absolute;
    left: 0px; right: 0px;
    top: 0px; height: 40px;
    padding: 0px 20px;
    background: linear-gradient(to bottom, #dee4e7 0%, #b3cfe5 100%);
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 20px
  }
  ddna-assistant.active > .tab-container { display: block; }
  ddna-assistant > .tab-container > * {
    padding: 10px; margin: 0px;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
  }
  ddna-assistant > .tab-container > *.active {
    background: rgba(0,0,0,.1);
  }
  ddna-assistant > .content-container {
    display: none;
    position: absolute;
    left: 5px; right: 5px;
    top: 40px; bottom: 5px;
    padding: 0px; margin: auto;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 0px 0px 20px 20px;
    background: white;
  }
  ddna-assistant.active > .content-container { display: block; }
  ddna-assistant > .content-container > * {
    position: absolute;
    left: 0px; right: 0px;
    top: 0px; bottom: 0px;
    padding: 5px; margin: auto;
    overflow: hidden;
    overflow-y: auto;
  }
  ddna-assistant > .content-container > *:not(.active) {
    display: none;
  }
  ddna-assistant a {
    cursor: pointer;
  }
  ddna-assistant button {
    display: inline-block;
    border: 1px solid #294357;
    border-radius: 4px;
    margin: 0px 1px;
    padding: 10px 20px;
    background: linear-gradient(to bottom, #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%);
  }
  ddna-assistant button:active {
    background: linear-gradient(to bottom, #b3dced 0%,#29b8e5 50%,#bce0ee 100%);
  }
  ddna-assistant input[type=text], ddna-assistant textarea {
    display: inline-block;
    border: 1px solid #294357;
    border-radius: 4px;
    margin: 0px 1px;
    padding: 5px 10px;
  }
  ddna-assistant form {
    display: flex;
    flex-direction: column;
  }
  ddna-assistant form > label {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  ddna-assistant form > label > :not(span) {
    flex-grow: 1;
  }
  ddna-assistant form > label > span {
    padding: 0px 5px;
  }
  ddna-assistant a.engagement-active { color: #008000; }
  ddna-assistant a.engagement-inactive { color: #800000; }
</style>

<ddna-assistant class="startup">
  <module-tabs class="tab-container">
  </module-tabs>

  <section class="content-container">
    <ddna-module src="modules/mega-search.html" name="Mega Search"></ddna-module>
    <ddna-module src="modules/image-search.html" name="Image Search"></ddna-module>
    <ddna-module src="modules/deeplink-search.html" name="Deeplink Search"></ddna-module>
    <ddna-module src="modules/cleanup.html" name="Cleanup"></ddna-module>

    <!-- Keep these at the end of the module list -->
    <ddna-module src="modules/download.html" name="Download"></ddna-module>
    <ddna-module src="modules/reference.html" name="Quick Reference"></ddna-module>
  </section>

  <svg viewBox="0 0 1 1" role="close">
    <line x1="0" y1="0" x2="1" y2="1" stroke="black" stroke-width="0.1" />
    <line x1="1" y1="0" x2="0" y2="1" stroke="black" stroke-width="0.1" />
  </svg>
  <svg viewBox="0 0 1 1" role="open">
    <line x1=".25" y1=".25" x2=".75" y2=".25" stroke="black" stroke-width="0.1" />
    <line x1=".75" y1=".25" x2=".75" y2=".75" stroke="black" stroke-width="0.1" />
    <line x1="0" y1=".5" x2=".5" y2=".5" stroke="black" stroke-width="0.1" />
    <line x1=".5" y1=".5" x2=".5" y2="1" stroke="black" stroke-width="0.1" />
  </svg>
  <svg viewBox="0 0 1 1" role="loading">
    <text style="font-size:.2px" x="50%" y="60%" text-anchor="middle">
      Loading...
    </text>
  </svg>
  <svg viewBox="0 0 1 1" role="failed">
    <text style="font-size:.2px" x="50%" y="60%" text-anchor="middle" fill="red">
      Error
    </text>
  </svg>
</ddna-assistant>

<script src="src/modules.js"></script>
<script>
  require('src/modules.js')
    .then(reqs => {
      var root = this.querySelector('ddna-assistant');
      var expando = root.querySelector('[role=open]');
      var collapso = root.querySelector('[role=close]');
      expando.addEventListener('click', () => root.classList.add('active'));
      collapso.addEventListener('click', () => root.classList.remove('active'));
      root.classList.remove('startup');
    })
    .catch(e => {
      var root = this.querySelector('ddna-assistant');
      root.classList.add('failed');
    });
</script>
