<style>
  module-cleanup {
    display: flex;
    overflow: hidden !important;
    flex-direction: column !important;
  }
  module-cleanup section {
    overflow: hidden;
    overflow-y: auto;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }
  module-cleanup section > table {
    border: 1px solid #F0F0F0;
    width: 33%;
    position: relative;
  }
  module-cleanup section td {
    padding: 0px 5px;
    vertical-align: top;
    word-break: break-word;
    min-width: 25%;
  }
  module-cleanup section td:first-child {
    word-break: keep-all;
  }
  module-cleanup section tr:nth-child(odd) td {
    background: #F0F0F0;
  }
  module-cleanup section th {
    padding: 5px 5px;
    white-space: nowrap;
    background: #C0C0FF;
    border-right: 1px solid #808080;
    border-left: 1px solid #808080;
  }
  module-cleanup section td:first-child a {
    color: red;
  }
  module-cleanup .warning {
    color: red;
    font-weight: bold;
    text-align: center;
  }
  module-cleanup .warning::before {
    content: 'WARNING! ';
    display: inline-block;
    padding-right: 25px;
  }
</style>

<module-cleanup>
  <div class="warning">Deleting something here can't be undone!</div>
  <div class="warning">Make sure to refresh this page after deleting items!</div>
  <section>
    <table data="engagements">
      <thead><th></th><th style="width:50%;">Campaigns</th><th>Reasons</th></thead>
      <tbody></tbody>
    </table>
    <table data="actions">
      <thead><th></th><th style="width:50%;">Actions</th><th>Reasons</th></thead>
      <tbody></tbody>
    </table>
    <table data="segments">
      <thead><th></th><th style="width:50%;">Segments</th><th>Reasons</th></thead>
      <tbody></tbody>
    </table>
  </section>
</module-cleanup>

<script>
  const second = 1000, minute = second*60, hour=minute*60, day=hour*24, week=day*7, month=day*30, year=day*356;
  const now = new Date().valueOf(), timePattern = /^\d{1,4}-\d{1,2}-\d{1,2}[\sZ]\d{1,2}:\d{1,2}:\d{1,2}$/;

  function parseAge(time) {
    if (typeof(time) !== 'string' || !timePattern.exec(time)) { return 0; }
    return now - new Date(time.replace(/\s/, 'Z')).valueOf();
  }

  function formatAge(age) {
    var size = Math.abs(age);
    if (size > year) { return Math.round(age/year).toString() + ' years'; }
    if (size > month) { return Math.round(age/month).toString() + ' months'; }
    if (size > week) { return Math.round(age/week).toString() + ' weeks'; }
    if (size > day) { return Math.round(age/day).toString() + ' days'; }
    if (size > hour) { return Math.round(age/hour).toString() + ' hours'; }
    if (size > minute) { return Math.round(age/minute).toString() + ' minutes'; }
    return Math.round(age/second).toString() + ' seconds';
  }

  return require(
    'src/data.js',
    'src/ux.js',
    'io'
  ).then(reqs => {
    var data = reqs['src/data.js'];
    var ux = reqs['src/ux.js'];
    var io = reqs['io'];

    var engagements = module.querySelector('[data=engagements] tbody');
    data.engagements
      .map(e => {
        var touched = parseAge(e.revisionDate);
        var live = parseAge(e.compiledEngagementRevisionDate);
        var ended = parseAge(e.json&&e.json.endDate);
        var active = e.engagementEnabled;
        var marked = (!active && live > month*6) || (ended > 0)
        return {
          engagement: e,
          sort: touched,
          marked: marked,
          reasons: [
            (touched>month*6?'Last touched ' + formatAge(touched):false),
            (live>month*6?'Finalized ' + formatAge(live) + ' ago':false),
            (ended>0?'Ended ' + formatAge(ended) + ' ago':false),
            (!active?'Disabled':false)
          ].filter(r => r).join(', ')
        }
      })
      .filter(e => e.marked)
      .sort((a,b) => a.sort>b.sort?-1:a.sort<b.sort?1:0)
      .forEach(e => {
        var row = engagements.appendChild(document.createElement('tr'));
        var action = row.appendChild(document.createElement('td'))
                        .appendChild(document.createElement('a'));
        var name = row.appendChild(document.createElement('td'))
                      .appendChild(ux.createEngagementViewLink(e.engagement));
        var reasons = row.appendChild(document.createElement('td'));
        reasons.textContent = e.reasons;
        action.setAttribute('href', '#');
        action.textContent = 'DELETE';
        action.addEventListener('click', ((e,row) => (() => {
          io.ajax('DELETE', 'https://www.deltadna.net/api/engagement/engagements/' + e.engagement.id.toString())
            .then(() => { row.parentNode.removeChild(row); })
            .catch(ex => { alert('Delete failed'); console.error('delete failed:', ex); });
        }))(e,row));
      });

    var actions = module.querySelector('[data=actions] tbody');
    var actionIds = data.engagements
      .flatMap(e => Array.isArray(e.actionJson)?e.actionJson
        .map(a => a.id):[]
      ).filter(id => id)
      .reduce((m,i) => (m[i]=true)&&m, {});
    data.actions
      .filter(a => !actionIds[a.id])
      .forEach(a => {
        var row = actions.appendChild(document.createElement('tr'));
        var action = row.appendChild(document.createElement('td'))
                        .appendChild(document.createElement('a'));
        var name = row.appendChild(document.createElement('td'))
                      .appendChild(ux.createActionLink(a));
        var reasons = row.appendChild(document.createElement('td'));
        reasons.textContent = 'Unassigned/Unused';
        action.setAttribute('href', '#');
        action.textContent = 'DELETE';
        action.addEventListener('click', ((a,row) => (() => {
          io.ajax('DELETE', 'https://www.deltadna.net/api/engagement/actions/' + a.id.toString())
            .then(() => { row.parentNode.removeChild(row); })
            .catch(ex => { alert('Delete failed'); console.error('delete failed:', ex); });
        }))(a,row));
      });

      var segments = module.querySelector('[data=segments] tbody');
      var segmentIds = data.engagements
        .map(e => e.json&&e.json.details&&e.json.details.segment&&e.json.details.segment.id||false)
        .filter(id => id)
        .reduce((m,i) => (m[i]=true)&&m, {});
      data.segments
        .filter(s => !segmentIds[s.id])
        .forEach(s => {
          var row = segments.appendChild(document.createElement('tr'));
          var action = row.appendChild(document.createElement('td'))
                          .appendChild(document.createElement('a'));
          var name = row.appendChild(document.createElement('td'))
                        .appendChild(ux.createSegmentLink(s));
          var reasons = row.appendChild(document.createElement('td'));
          reasons.textContent = 'Unassigned/Unused';
          action.setAttribute('href', '#');
          action.textContent = 'DELETE';
          action.addEventListener('click', ((s,row) => (() => {
            io.ajax('DELETE', 'https://www.deltadna.net/api/' + s.type + 's/' + s.id.toString())
              .then(() => { row.parentNode.removeChild(row); })
              .catch(ex => { alert('Delete failed'); console.error('delete failed:', ex); });
          }))(s,row));
        });
  });
</script>
