<style>
  module-deeplink-search {
    display: flex;
    overflow: hidden !important;
    flex-direction: column !important;
  }
  module-deeplink-search section {
    overflow: hidden;
    overflow-y: auto;
    margin: 5px;
  }
  module-deeplink-search section td {
    padding: 0px 5px;
  }
  module-deeplink-search section tr:nth-child(odd) td {
    background: #F0F0F0;
  }
  module-deeplink-search section td:first-child {
    width: 100%;
  }
</style>

<module-deeplink-search>
  <form>
    <label>
      <span>Paste Deeplink</span>
      <input type="text" />
    </label>
  </form>
  <section>
    <table>
    </table>
  </section>
</module-deeplink-search>

<script>
  return require(
    'src/data.js',
    'src/ux.js'
  ).then(reqs => {
    var data = reqs['src/data.js'];
    var ux = reqs['src/ux.js'];

    module.querySelector('form').addEventListener('submit', e => {
      e.preventDefault();
      console.log('searching...');
      var url = module.querySelector('input').value || '';
      var params = parseQuery(url);

      var matches = data.engagements.filter(eng => {
        var refinements = eng && eng.json && eng.json.decisionPointRefinements;
        if (!refinements || !refinements.length) { return false; }
        var cID = refinements.find(ref => ref.jsonKey.name == 'cID');
        var promoID = refinements.find(ref => ref.jsonKey.name == 'promoID');
        var channel = refinements.find(ref => ref.jsonKey.name == 'channel');
        if (!cID && !promoID && !channel) { return false; }
        return (!cID || cID.value == params.cid)
            && (!promoID || promoID.value == params.promoID)
            && (!channel || channel.value == params.chl);
      });

      var container = module.querySelector('table');
      container.innerHTML = '';
      matches.forEach(match => {
        container.appendChild(createRow(match));
      });
    });

    function createRow(match) {
      var row = document.createElement('tr')
      row.appendChild(document.createElement('td'))
         .appendChild(ux.createEngagementViewLink(match));
      row.appendChild(document.createElement('td'))
         .textContent = match.engagementEnabled ? '(active)' : '(disabled)';
      row.appendChild(document.createElement('td'))
        .appendChild(ux.createEngagementEditLink(match, 'Edit'));
      row.appendChild(document.createElement('td'))
         .appendChild(ux.createEngagementDupeLink(match, 'Dupe'));
      return row;
    }

    function parseQuery(url) { // URLSearchParams is broken - don't use it
      return (url||'').split('?').slice(1).join('?')
        .split('&').map(v => v.split('=')).map(v => v.map(decodeURIComponent))
        .reduce((p,v) => { p[v[0]] = v[1]; return p }, {});
    }
  });
</script>
