<module-download>
  <button>Download</button><br />
</module-download>

<script>
  return require('src/data.js')
    .then(reqs => {
      var data = reqs['src/data.js'];

      module.querySelector('button').addEventListener('click', e => {
        e.preventDefault();
        var json = JSON.stringify(data, null, 2);
        var blob = new Blob([json], {type: 'application.json'});
        var url = URL.createObjectURL(blob);
        var link = document.createElement('a');
        link.setAttribute('href', url);
        link.setAttribute('download', 'DDNA-Raw-JSON.json');
        document.body.appendChild(link);
        link.click();
        setTimeout(() => {
          URL.revokeObjectURL(url);
          document.body.removeChild(link);
        }, 1000);
      });
    })
</script>
