<style>
  module-image-search {
    display: flex;
    overflow: hidden !important;
    flex-direction: column !important;
  }
  module-image-search section {
    overflow: hidden;
    overflow-y: auto;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  module-image-search section > table {
    border: 1px solid #F0F0F0;
    width: 99%;
    position: relative;
  }
  module-image-search section td {
    padding: 0px 5px;
    vertical-align: top;
    word-break: break-word;
    min-width: 25%;
  }
  module-image-search section tr:nth-child(odd) td {
    background: #F0F0F0;
  }
  module-image-search section th {
    padding: 5px 5px;
    white-space: nowrap;
    background: #C0C0FF;
    border-right: 1px solid #808080;
    border-left: 1px solid #808080;
  }
  module-image-search td > div {
    border-bottom: 1px solid #8080FF;
  }
</style>

<module-image-search>
  <form>
    <label>
      <span>Enter Search</span>
      <input type="text" />
    </label>
  </form>
  <section>
    <table>
      <thead><th>Image</th><th style="width: 40%;">Action</th><th>Campaigns</th><th>Segments</th><th>Data</th></thead>
      <tbody></tbody>
    </table>
  </section>
</module-image-search>

<script>
  return require(
    'src/data.js',
    'src/ux.js'
  ).then(reqs => {
    var data = reqs['src/data.js'];
    var ux = reqs['src/ux.js'];

    var cache = {
      sources: {},
      layouts: {}
    };

    const thumbWidth = 150;
    const thumbHeight = 150;
    const dimensionPattern = /^\d+x\d+$/;
    const output = module.querySelector('tbody');

    function number(value) { return (typeof(value)==='number'?value:parseInt((value||'0').toString())); }
    function makeArray(item) { return (Array.isArray(item)?item:[item]); }

    function loadImage(url) {
      return cache.sources[url] || (cache.sources[url]=new Promise(s => {
        var img = document.createElement('img');
        img.onload = () => s(img);
        img.onerror = () => s(img);
        img.src = url;
        setTimeout(() => s(img), 1000*60);
      }));
    };

    function loadLayout(action) {
      var index = (action&&action.id||'');
      return cache.layouts[index] || (cache.layouts[index]=new Promise(s => {
        var canvas = document.createElement('canvas');
        canvas.width=thumbWidth; canvas.height=thumbHeight;
        var context = canvas.getContext('2d');
        context.fillStyle = 'black';
        context.rect(0,0,thumbWidth,thumbHeight);
        context.fill();
        var maps = makeArray(action&&action.json&&action.json.image&&action.json.image.imageAssets)
          .filter(v => v&&v.id)
          .reduce((i,v) => (i[v.id]=v)&&i, {});
        var infos = makeArray(action&&action.selectedImages)
          .filter(v => v&&v.url);
        var result = {image: canvas, data: false};
        Promise.all(infos.map(i => loadImage(i.url)))
          .then(images => {
            var items = images.map((v,i) => { return {
              image: v,
              bg: (maps[infos[i].id].mode||'').toLowerCase()==='background',
              x: number(maps[infos[i].id].xPos),
              y: number(maps[infos[i].id].yPos),
            };});
            if (!items||!items.length||!items.some(i => i.image)) { return s(result); }
            result.data = items.filter(i => i&&i.image&&i.image.naturalWidth&&i.image.naturalHeight)
                               .map(i => i.image.naturalWidth.toString() + 'x' + i.image.naturalHeight.toString())
                               .join(', ');
            var maxWidth = Math.max(...(items.map(i => i.image.naturalWidth)));
            var maxHeight = Math.max(...(items.map(i => i.image.naturalHeight)));
            var scale = Math.min(thumbWidth/maxWidth,thumbHeight/maxHeight);
            items.filter(i => i.bg).forEach(i => {
              var width = i.image.naturalWidth*scale;
              var height = i.image.naturalHeight*scale;
              var x = thumbWidth/2-width/2;
              var y = thumbHeight/2-height/2;
              context.drawImage(i.image, x, y, width, height);
            });
            items.filter(i => !i.bg).forEach(i => {
              var width = i.image.naturalWidth*scale;
              var height = i.image.naturalHeight*scale;
              var x = i.x*scale;
              var y = i.y*scale;
              context.drawImage(i.image, x, y, width, height);
            });
            s(result);
          });
      }));
    }

    var token = null;
    module.querySelector('form').addEventListener('submit', e => {
      e.preventDefault();
      if (token) { token.valid = false; }
      var searchToken = token = {valid: true};
      setSearchMessage('Searching...');

      try {
        var results = ux.search(module.querySelector('input').value);
        if (!results) { return; }

        var compile = results.actions
          .concat(results.engagements
            .filter(e => Array.isArray(e.actionJson))
            .flatMap(e => e.actionJson)
          ).reduce((m,a) => (m[a.id]=m[a.id]||{
            action: a,
            engagements: results.engagements
              .filter(e => Array.isArray(e.actionJson)&&e.actionJson.some(ea => ea.id===a.id)),
            segments: results.segments
              .filter(s => data.engagements
                .some(e => e.json&&e.json.details&&e.json.details.segment&&e.json.details.segment.id===s.id
                        && Array.isArray(e.actionJson)&&e.actionJson.some(ea => ea.id===a.id)
                )
              )
          })&&m,{});

        setSearchMessage('Downloading Images. This can take a while...');

        Promise.all(
          Object.keys(compile)
            .map(k => loadLayout(compile[k].action)
              .then(content => { return {data: compile[k], content: content}; })
            )
        ).then(layouts => {
            if (!searchToken.valid) { return; }
            clear();

            layouts.filter(l => l.content.data)
                   .forEach(layout => {
              var row = output.appendChild(document.createElement('tr'));
              var image = row.appendChild(document.createElement('td'));
              image.appendChild(layout.content.image);
              image.style.width="150px";

              row.appendChild(document.createElement('td'))
                 .appendChild(ux.createActionLink(layout.data.action));

              var engagements = row.appendChild(document.createElement('td'));
              layout.data.engagements.forEach(e => {
                engagements.appendChild(document.createElement('div'))
                           .appendChild(ux.createEngagementViewLink(e));
              });

              var segments = row.appendChild(document.createElement('td'));
              layout.data.segments.forEach(s => {
                segments.appendChild(document.createElement('div'))
                        .appendChild(ux.createSegmentLink(s));
              });

              var data = row.appendChild(document.createElement('td'));
              data.textContent = layout.content.data;
            });
          });
      } catch (ex) {
        searching = false;
        console.error(ex);
      }
    });

    function clear() {
      output.innerHTML = '';
    }

    function setSearchMessage(message) {
      clear();
      var searching = output.appendChild(document.createElement('tr'))
                            .appendChild(document.createElement('td'));
      searching.setAttribute('colspan', '9999');
      searching.textContent = message;
    }
  });
</script>
