<style>
  module-mega-search {
    display: flex;
    overflow: hidden !important;
    flex-direction: column !important;
  }
  module-mega-search section {
    overflow: hidden;
    overflow-y: auto;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  module-mega-search section > table {
    border: 1px solid #F0F0F0;
    width: 33%;
    position: relative;
  }
  module-mega-search section td {
    padding: 0px 5px;
    vertical-align: top;
    word-break: break-word;
    min-width: 25%;
  }
  module-mega-search section tr:nth-child(odd) td {
    background: #F0F0F0;
  }
  module-mega-search section th {
    padding: 5px 5px;
    white-space: nowrap;
    background: #C0C0FF;
    border-right: 1px solid #808080;
    border-left: 1px solid #808080;
  }
  module-mega-search td > div {
    border-bottom: 1px solid #8080FF;
  }
</style>

<module-mega-search>
  <form>
    <label>
      <span>Enter Search</span>
      <input type="text" />
    </label>
  </form>
  <section>
    <table data="engagements">
      <thead><th style="width:75%">Campaigns</th><th>Active State</th><th colspan="2">View Options</th></thead>
      <tbody></tbody>
    </table>
    <table data="actions">
      <thead><th style="width:50%;">Actions</th><th>Linked Campaigns</thead>
      <tbody></tbody>
    </table>
    <table data="segments">
      <thead><th style="width:50%;">Segments</th><th>Linked Campaigns</th></thead>
      <tbody></tbody>
    </table>
  </section>
</module-mega-search>

<script>
  return require(
    'src/data.js',
    'src/ux.js'
  ).then(reqs => {
    var data = reqs['src/data.js'];
    var ux = reqs['src/ux.js'];

    module.querySelector('form').addEventListener('submit', e => {
      e.preventDefault();

      var results = ux.search(module.querySelector('input').value);
      if (!results) { return; }

      var segData = results.segments.map(seg => { return {
        id: seg.id,
        name: seg.name,
        type: seg.type,
        engagements: data.engagements
                        .filter(eng =>
                          eng.json
                          && eng.json.details
                          && eng.json.details.segment
                          && eng.json.details.segment.id===seg.id
                        )
      }});

      var actData = results.actions.map(act => { return {
        id: act.id,
        name: act.name,
        engagements: data.engagements
                        .filter(eng => Array.from(eng.json&&eng.json.actions)
                          .some(a => a.id === act.id)
                        )
      }});

      var engData = results.engagements;

      var segTable = module.querySelector('[data=segments] tbody');
      segTable.innerHTML = '';
      segData.forEach(seg => {
        var row = segTable.appendChild(document.createElement('tr'));
        row.appendChild(document.createElement('td'))
           .appendChild(ux.createSegmentLink(seg));
        var links = row.appendChild(document.createElement('td'));
        seg.engagements.forEach(eng =>  {
          links.appendChild(document.createElement('div'))
               .appendChild(ux.createEngagementViewLink(eng));
        });
      });

      var actTable = module.querySelector('[data=actions] tbody');
      actTable.innerHTML = '';
      actData.forEach(act => {
        var row = actTable.appendChild(document.createElement('tr'));
        row.appendChild(document.createElement('td'))
           .appendChild(ux.createActionLink(act));
        var links = row.appendChild(document.createElement('td'));
        act.engagements.forEach(eng =>  {
          links.appendChild(document.createElement('div'))
               .appendChild(ux.createEngagementViewLink(eng));
        });
      });

      var engTable = module.querySelector('[data=engagements] tbody');
      engTable.innerHTML = '';
      engData.forEach(eng => {
        var row = engTable.appendChild(document.createElement('tr'));
        row.appendChild(document.createElement('td'))
           .appendChild(ux.createEngagementViewLink(eng));
        row.appendChild(document.createElement('td'))
           .textContent = (eng.engagementEnabled ? '(Active)' : '(Disabled)');
        row.appendChild(document.createElement('td'))
          .appendChild(ux.createEngagementEditLink(eng, 'Edit'));
        row.appendChild(document.createElement('td'))
           .appendChild(ux.createEngagementDupeLink(eng, 'Dupe'));
      })
    });
  });

</script>
