<script>

</script>
<module-quick-reference>
  <style>
    module-quick-reference h1 {
      font-size: 1.5em;
      font-weight: bold;
      display: block;
      padding: 15px 0px 5px 0px;
    }
    module-quick-reference li {
      display: block;
      padding-left: 10px;
    }
    module-quick-reference li::before {
      content: '* ';
    }
    module-quick-reference em {
      display: block;
      color: #808080;
      font-style: italic;
      font-size: .85em;
      margin: -5px 0px 5px 10px;
    }
  </style>
  <h1>Mega Search</h1>
  <em>Hint: The page you are on can determine how much information is available for search. Try searching from the "Manage Decision Point" page</em>
  <ul>
    <li>Each word separated by a space will be used as a separate search term</li>
    <li>Searches are exclusive meaning the more terms you type the fewer results you will get</li>
    <li>To match multiple words with a single term enter the term with spaces removed</li>
    <li>Terms will match the names, ids, descriptions, tags, qualities, parameters names, and parameter values of engagemtents, actions, and segments</li>
    <li>Searching a tag or quality will only find a result with an exact match to reduce false positives (unless marked with a modifier)</li>
    <li>
      Adding a modifier in front of a search term will alter how it is used in the search
      <ul>
        <li>- excludes results with this term</li>
        <li>! requires a value in the result to exactly match this term, case-sensitive</li>
        <li>~ requires a value in the result to exactly match this term, case-insensitive</li>
        <li>^ requires a value in the result to contain this term, case-sensitive</li>
        <li>? requires a value in the result to contain this term, case-insensitive</li>
        <li>Example: "test -4k !DeepLink" will return all results with the word test, but not 4k, and a value exactly matching DeepLink</li>
      </ul>
    </li>
  </ul>
  <h1>Image Search</h1>
  <em>Hint: Image results are cached making subsequent searches faster. Try keeping a tab open that is only used for using DeltaDnaAssistant. Refresh when you need fresh data.</em>
  <ul>
    <li>Image search uses the same searching rules as Mega Search</li>
    <li>Searching "Running" (for example) will return all active image message campaigns</li>
    <li>Only results with Image Message actions associated with them will be returned</li>
    <li>All images are downloaded before the search results are shown, so this can take a while if you have a vague search</li>
    <li>Image Search will attempt to assemble the image message layout to present approximately what you see in game</li>
  </ul>
  <h1>Deeplink Search</h1>
  <ul>
    <li>Deeplink Search will read the parameters of a deeplink URL and attempt to find matching campaigns</li>
    <li>This only looks at the promoID, cid, and chl information</li>
    <li>Only the parameter portion of a URL is required for this search: (e.g. ?promoID=123&cid=123&chl=123)</li>
  </ul>
  <h1>Clean Up</h1>
  <ul>
    <li>This module will show all inactive/old campaigns and actions/segments that are no longer attached to anything</li>
    <li>After using this module to delete any items the entire page should be reloaded because page data will be stale</li>
    <li>Be aware that deleting items here can't be undone</li>
  </ul>
  <h1>Download</h1>
  <ul>
    <li>This module provides a link to download all the DDNA data into a giant JSON file</li>
  </ul>
</module-quick-reference>
